---
title: Страница новости
description: Description index
page_link: index.html
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="textpage">
  <div class="textpage__wrapper">
    <div class="textpage__head">
      <div class="textpage__head-text  textpage__head-text--left">
        <time datetime="2022-01-21">21 января 2022</time>
        <h1>Подписано соглашение о долгосрочном партнёрстве между Ассоциацией Дальневосточных музеев и компанией
          Panasonic Россия</h1>
        <p>(Лид). Музей родился в прибрежном городе Владивостоке более 130 лет назад. Он рос вместе с городом,
          наполнялся
          экспонатами, присоединял новые филиалы и площадки, накапливал опыт и неизменно собирал талантливых и
          неравнодушных людей
          — настоящих профессионалов.</p>
      </div>
      <div class="textpage__nav  textpage__nav--right">
        <a href="index.html"><svg width="10" height="12">
            <use xlink:href="/images/sprite_auto.svg#icon-arrow-left"></use>
          </svg> На главнуя</a>
        <a href="museums.html">Все новости <svg width="10" height="12">
            <use xlink:href="/images/sprite_auto.svg#icon-arrow-right"></use>
          </svg></a>
      </div>
      <div class="textpage__photo  textpage__photo--right">
        <picture>
          <source srcset="/images/museums/museum-photo.jpg" media="(min-width: 1024px)">
          <img src="/images/museums/museum-photo-small.jpg" alt="Фотография музея {{title}}" loading="lazy">
        </picture>
      </div>
    </div>
    <div class="textpage__content">
      <div class="textpage__left">
        <h2 class="textpage__section-title">Заголовок h2</h2>
      </div>
      <div class="textpage__right">
        <p>Коллекционирование и экспонирование свидетельств старины – не единственная задача Музея. Помимо этого, он
          общается с
          музеями других городов, обменивается опытом и экспонатами. Чего стоят, например, Дальневосточная конференция
          региональных музеев или проект «Коллекционируя Россию», в рамках которого Владивосток увидел уникальные
          экспонаты из
          Перми, Мурома, Великого Новгорода и Иваново. К тому же, в Музее постоянно проходят мероприятия,
          познавательные и
          развлекательные программы для детей и взрослых, киновстречи, лекции, круглые столы, на которых обсуждаются
          самые разные
          темы.</p>

        <p>Президиум является высшим коллегиальным руководящим органом в период между Общими собраниями. Члены
          Президиума
          избираются сроком на четыре года из числа членов Ассоциации и не могут быть избраны более, чем на два срока.
        </p>

        <ol>
          <li>Осуществляет текущее руководство деятельностью Ассоциации</li>
          <li>Обеспечивает выполнение решений Общего собрания</li>
          <li>Образует постоянные группы, советы и комиссии из числа членов Ассоциации</li>
          <li>Созывает Общее собрание</li>
          <li>Утверждает планы основных мероприятий, осуществляет текущее планирование работы</li>
          <li>Утверждает годовые отчеты</li>
          <li>Принимает решения о приеме в члены Ассоциации и исключении из нее</li>
          <li>Организует сотрудничество с государственными и общественными организациями</li>
        </ol>

        <p>Задачами ассоциации являются подготовка и проведение межмузейных, всероссийских и международных мероприятий,
          направленных на обмен опытом и построение устойчивых связей между музейными работниками, координация,
          подготовка и
          осуществление проектов, направленных на развитие хранительской, выставочной, издательской, просветительской,
          образовательной, социокультурной и иной деятельности музеев ДФО, оказание методической помощи музеям ДФО по
          различным
          направлениям музейной деятельности, содействие развитию выставочного обмена между российскими и зарубежными
          музеями,
          оказание консультативной поддержки музеям и представителям музейного сообщества ДФО, содействие развитию
          культурного
          туризма и культурных индустрий в ДФО, координация работы с другими российскими и международными организациями
          и
          учреждениями, ведущими работу в области музейного дела
          , участие в разработке и реализации современных образовательных программ подготовки и переподготовки музейных
          специалистов, в том числе, с использованием зарубежного опыта, оказание содействия во взаимодействии с
          органами
          исполнительной власти всех уровней с целью сохранения и развития музеев, их коллекций и деятельности.</p>

        <div class="download">
          <ul class="download__list">
            <li class="download__item">
              <a class="download__link" href="#">Устав ассоциации музеев дальнего востока (pdf)</a>
            </li>
            <li class="download__item">
              <a class="download__link" href="#">все музеи ассоциации дальневосточных музеев (xlsx)</a>
            </li>
          </ul>
        </div>

        <p>Президиум является высшим коллегиальным руководящим органом в период между Общими собраниями. Члены
          Президиума
          избираются сроком на четыре года из числа членов Ассоциации и не могут быть избраны более, чем на два срока
        </p>

        <p>Членами Ассоциации могут быть юридические лица – музеи России и иные российские юридические лица, которые
          могут быть
          признаны организациями, служащими обществу и содействующими его развитию, доступными широкой общественности,
          которые
          приобретают, хранят, исследуют, экспонируют и популяризируют материальное и нематериальное наследие
          человечества и
          окружающей среды в целях изучения, образования и удовлетворения духовных потребностей, а также организации,
          которые
          способствуют развитию музейного дела и сообщества.</p>

        <div class="textpage__main-slider  swiper">
          <div class="swiper-wrapper">
            {% for item in range(0, 2) -%}
            <div class="swiper-slide">
              <div class="textpage__main-slider-content">
                <picture>
                  <source srcset="https://via.placeholder.com/963x640/" media="(min-width: 1440px)">
                  <img class="swiper-lazy" src="https://via.placeholder.com/335x220/" alt="Описание изображения">
                </picture>
                <p>Бухта Золотой рог <span>/ подпись к фото</span></p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="textpage__main-slider-content">
                <picture>
                  <source srcset="https://via.placeholder.com/500x640/" media="(min-width: 1440px)">
                  <img class="swiper-lazy" src="https://via.placeholder.com/235x220/" alt="Описание изображения">
                </picture>
                <p>Бухта Золотой рог <span>/ подпись к фото</span></p>
              </div>
            </div>
            {%- endfor %}
          </div>

          <div class="swiper-controls">
            <button class="textpage__main-slider-prev-btn" type="button">
              <svg width="12" height="14" viewBox="0 0 14 12">
                <use xlink:href="/images/sprite_auto.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <div class="swiper-pagination"></div>
            <button class="textpage__main-slider-next-btn" type="button">
              <svg width="12" height="14" viewBox="0 0 14 12">
                <use xlink:href="/images/sprite_auto.svg#icon-arrow-right"></use>
              </svg>
            </button>


          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<section class="textpage">

  <div class="textpage__wrapper">
    <div class="textpage__content">
      <div class="textpage__left">
        <h2 class="textpage__section-title">Поделиться</h2>
      </div>
      <div class="textpage__right">
        <div class="social-share">
          {% include "./_partials/_social-share-script.html" %}
          <div class="copylink">
            <button class="copylink__btn">
              Скопировать ссылку
            </button>
            <div class="copylink__text">Ссылка скопирована</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
