---
title: Об ассоциации
description: Description index
page_link: index.html
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="textpage">
  <div class="textpage__wrapper">
    <div class="textpage__head">
      <div class="textpage__photo">
        <picture>
          <source srcset="/images/textpage-photo-large.jpg" media="(min-width: 768px)">
          <img src="/images/textpage-photo-small.jpg" alt="Фотография музея {{title}}" loading="lazy">
        </picture>
      </div>
    </div>
    <div class="textpage__content">
      <div class="textpage__left">
        <h2 class="textpage__section-title">МИССИЯ АССОЦИАЦИИ</h2>
      </div>
      <div class="textpage__right">
        <h3>Ассоциация объединяет музейных специалистов Дальневосточного федерального округа с целью развития музейного
          дела,
          повышения профессионального уровня музейных работников и популяризации дальневосточных музеев (пример лида).
        </h3>

        <p>Задачами ассоциации являются подготовка и проведение межмузейных, всероссийских и международных мероприятий,
          направленных на обмен опытом и построение устойчивых связей между музейными работниками, координация,
          подготовка и
          осуществление проектов, направленных на развитие хранительской, выставочной, издательской, просветительской,
          образовательной, социокультурной и иной деятельности музеев ДФО, оказание методической помощи музеям ДФО по
          различным
          направлениям музейной деятельности, содействие развитию выставочного обмена между российскими и зарубежными
          музеями,
          оказание консультативной поддержки музеям и представителям музейного сообщества ДФО, содействие развитию
          культурного
          туризма и культурных индустрий в ДФО, координация работы с другими российскими и международными организациями
          и
          учреждениями, ведущими работу в области музейного дела
          , участие в разработке и реализации современных образовательных программ подготовки и переподготовки музейных
          специалистов, в том числе, с использованием зарубежного опыта, оказание содействия во взаимодействии с
          органами
          исполнительной власти всех уровней с целью сохранения и развития музеев, их коллекций и деятельности.</p>

        <p>Членами Ассоциации могут быть юридические лица – музеи России и <a href="#">иные российские юридические
            лица</a>, которые могут быть
          признаны организациями, служащими обществу и содействующими его развитию, доступными широкой общественности,
          которые
          приобретают, хранят, исследуют, экспонируют и популяризируют материальное и нематериальное наследие
          человечества и
          окружающей среды в целях изучения, образования и удовлетворения духовных потребностей, а также организации,
          которые
          способствуют развитию музейного дела и сообщества.</p>
      </div>
    </div>
  </div>
</section>

<section class="textpage">
  <div class="textpage__wrapper">
    <div class="textpage__content">
      <div class="textpage__left">
        <h2 class="textpage__section-title">Видеоматериалы</h2>
      </div>
      <div class="textpage__right">
        <p>Членами Ассоциации могут быть юридические лица – музеи России и иные российские юридические лица, которые
          могут быть
          признаны организациями, служащими обществу и содействующими его развитию, доступными широкой общественности,
          которые
          приобретают, хранят, исследуют, экспонируют и популяризируют материальное и нематериальное наследие
          человечества и
          окружающей среды в целях изучения, образования и удовлетворения духовных потребностей, а также организации,
          которые
          способствуют развитию музейного дела и сообщества.</p>
      </div>
    </div>

    <div class="textpage__slider  swiper" dir="rtl">
      <div class="swiper-controls">
        <button class="swiper-next-btn" type="button">
          <svg width="12" height="14" viewBox="0 0 14 12">
            <use xlink:href="/images/sprite_auto.svg#icon-arrow-right"></use>
          </svg>
        </button>
        <div class="swiper-pagination"></div>
        <button class="swiper-prev-btn" type="button">
          <svg width="12" height="14" viewBox="0 0 14 12">
            <use xlink:href="/images/sprite_auto.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </div>
      <div class="swiper-wrapper">
        {% for item in range(0, 4) -%}
        <div class="swiper-slide">
          <div class="textpage__slider-content">
            <img src="/images/video.jpg" alt="">
            <p>Выставка «Все сложилось здесь…». К 110-летию В.Ю. Янковского</p>
          </div>
        </div>
        {%- endfor %}
      </div>
    </div>
  </div>
</section>

<section class="textpage">
  <div class="textpage__wrapper">
    <div class="textpage__content">
      <div class="textpage__left">
        <h2 class="textpage__section-title">права членов ассоциации (заголовок H2)</h2>
      </div>
      <div class="textpage__right">
        <p>Задачами ассоциации являются подготовка и проведение межмузейных, всероссийских и международных мероприятий,
          направленных на обмен опытом и построение устойчивых связей между музейными работниками, координация,
          подготовка и
          осуществление проектов, направленных на развитие хранительской, выставочной, издательской, просветительской,
          образовательной, социокультурной и иной деятельности музеев ДФО, оказание методической помощи музеям ДФО по
          различным
          направлениям музейной деятельности, содействие развитию выставочного обмена между российскими и зарубежными
          музеями,
          оказание консультативной поддержки музеям и представителям музейного сообщества ДФО, содействие развитию
          культурного
          туризма и культурных индустрий в ДФО, координация работы с другими российскими и международными организациями
          и
          учреждениями, ведущими работу в области музейного дела
          , участие в разработке и реализации современных образовательных программ подготовки и переподготовки музейных
          специалистов, в том числе, с использованием зарубежного опыта, оказание содействия во взаимодействии с
          органами
          исполнительной власти всех уровней с целью сохранения и развития музеев, их коллекций и деятельности.</p>

        <ul>
          <li>Оказывать членам Ассоциации помощь в сфере культурной деятельности</li>
          <li>Создавать советы, союзы, группы, секции, и другие образования, являющиеся структурными подразделениями
            Ассоциации</li>
          <li>Свободно распространять информацию о своей деятельности</li>
          <li>Представлять и защищать свои права, законные интересы своих членов в органах государственной власти, в
            органах местного самоуправления и общественных объединениях</li>
          <li>Выступать с инициативами по различным вопросам общественной жизни, вносить предложения в органы
            государственной власти в предусмотренном законом порядке</li>
          <li>Осуществлять иные права, предусмотренные законодательством Российской Федерации</li>
        </ul>

        <div class="textpage__main-slider  swiper">
          <div class="swiper-wrapper">
            {% for item in range(0, 2) -%}
            <div class="swiper-slide">
              <div class="textpage__main-slider-content">
                <picture>
                  <source srcset="https://via.placeholder.com/963x640/" media="(min-width: 1440px)">
                  <img class="swiper-lazy" src="https://via.placeholder.com/335x220/" alt="Описание изображения">
                </picture>
                <p>Бухта Золотой рог <span>/ подпись к фото</span></p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="textpage__main-slider-content">
                <picture>
                  <source srcset="https://via.placeholder.com/500x640/" media="(min-width: 1440px)">
                  <img class="swiper-lazy" src="https://via.placeholder.com/235x220/" alt="Описание изображения">
                </picture>
                <p>Бухта Золотой рог <span>/ подпись к фото</span></p>
              </div>
            </div>
            {%- endfor %}
          </div>

          <div class="swiper-controls">
            <button class="textpage__main-slider-prev-btn" type="button">
              <svg width="12" height="14" viewBox="0 0 14 12">
                <use xlink:href="/images/sprite_auto.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <div class="swiper-pagination"></div>
            <button class="textpage__main-slider-next-btn" type="button">
              <svg width="12" height="14" viewBox="0 0 14 12">
                <use xlink:href="/images/sprite_auto.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="textpage">
  <div class="textpage__wrapper">
    <div class="textpage__content">
      <div class="textpage__left">
        <h2 class="textpage__section-title">Президиум ассоциации</h2>
      </div>
      <div class="textpage__right">
        <p>Президиум является высшим коллегиальным руководящим органом в период между Общими собраниями. Члены
          Президиума
          избираются сроком на четыре года из числа членов Ассоциации и не могут быть избраны более, чем на два срока.
        </p>

        <ol>
          <li>Осуществляет текущее руководство деятельностью Ассоциации</li>
          <li>Обеспечивает выполнение решений Общего собрания</li>
          <li>Образует постоянные группы, советы и комиссии из числа членов Ассоциации</li>
          <li>Созывает Общее собрание</li>
          <li>Утверждает планы основных мероприятий, осуществляет текущее планирование работы</li>
          <li>Утверждает годовые отчеты</li>
          <li>Принимает решения о приеме в члены Ассоциации и исключении из нее</li>
          <li>Организует сотрудничество с государственными и общественными организациями</li>
        </ol>

        <p>Задачами ассоциации являются подготовка и проведение межмузейных, всероссийских и международных мероприятий,
          направленных на обмен опытом и построение устойчивых связей между музейными работниками, координация,
          подготовка и
          осуществление проектов, направленных на развитие хранительской, выставочной, издательской, просветительской,
          образовательной, социокультурной и иной деятельности музеев ДФО, оказание методической помощи музеям ДФО по
          различным
          направлениям музейной деятельности, содействие развитию выставочного обмена между российскими и зарубежными
          музеями,
          оказание консультативной поддержки музеям и представителям музейного сообщества ДФО, содействие развитию
          культурного
          туризма и культурных индустрий в ДФО, координация работы с другими российскими и международными организациями
          и
          учреждениями, ведущими работу в области музейного дела
          , участие в разработке и реализации современных образовательных программ подготовки и переподготовки музейных
          специалистов, в том числе, с использованием зарубежного опыта, оказание содействия во взаимодействии с
          органами
          исполнительной власти всех уровней с целью сохранения и развития музеев, их коллекций и деятельности.</p>

        <div class="download">
          <ul class="download__list">
            <li class="download__item">
              <a class="download__link" href="#">Устав ассоциации музеев дальнего востока (pdf)</a>
            </li>
            <li class="download__item">
              <a class="download__link" href="#">все музеи ассоциации дальневосточных музеев (xlsx)</a>
            </li>
          </ul>
        </div>

        <p>Президиум является высшим коллегиальным руководящим органом в период между Общими собраниями. Члены
          Президиума
          избираются сроком на четыре года из числа членов Ассоциации и не могут быть избраны более, чем на два срока.
        </p>

        <p>Членами Ассоциации могут быть юридические лица – музеи России и иные российские юридические лица, которые
          могут быть
          признаны организациями, служащими обществу и содействующими его развитию, доступными широкой общественности,
          которые
          приобретают, хранят, исследуют, экспонируют и популяризируют материальное и нематериальное наследие
          человечества и
          окружающей среды в целях изучения, образования и удовлетворения духовных потребностей, а также организации,
          которые
          способствуют развитию музейного дела и сообщества.</p>
      </div>
    </div>
  </div>
</section>

<section class="textpage">
  <div class="textpage__wrapper">
    <div class="textpage__content">
      <div class="textpage__left">
        <h2 class="textpage__section-title">партнеры</h2>
      </div>
      <div class="textpage__right">
        <div class="textpage__picture-text-block">
          <a class="textpage__picture-text-block-picture" href="#">
            <img src="/images/partners/kultura_rf.svg" alt="Логотип партнера Название партнера" loading="lazy">
          </a>
          <div class="textpage__picture-text-block-text">
            <h3>Министерство культуры российской федерации</h3>
            <p>Членами Ассоциации могут быть юридические лица – музеи России и иные российские юридические лица, которые
              могут быть
              признаны организациями, служащими обществу и содействующими его развитию, доступными широкой
              общественности, которые
              приобретают, хранят, исследуют, экспонируют и популяризируют материальное и нематериальное наследие
              человечества и
              окружающей среды в целях изучения, образования и удовлетворения духовных потребностей.</p>
          </div>
        </div>
        <div class="textpage__picture-text-block">
          <a class="textpage__picture-text-block-picture" href="#">
            <img src="/images/partners/minkult_rus_logo.svg" alt="Логотип партнера Название партнера" loading="lazy">
          </a>
          <div class="textpage__picture-text-block-text">
            <h3>Культура.рф</h3>
            <p>Членами Ассоциации могут быть юридические лица – музеи России и иные российские юридические лица, которые
              могут быть
              признаны организациями, служащими обществу и содействующими его развитию.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="textpage">
  <div class="textpage__wrapper">
    <div class="textpage__content">
      <div class="textpage__left">
        <h2 class="textpage__section-title">права и обязанности членов ассоциации (длинный заголовок)</h2>
      </div>
      <div class="textpage__right">
        <div class="responsive-table">
          <table>
            <tbody>
              <tr style="vertical-align: top;">
                <td style="width: 208px;"><strong>Столбец 1</strong></td>
                <td><strong>Столбец 2</strong></td>
                <td style="width: 174px;"><strong>Столбец 3</strong></td>
                <td><strong>Столбец 4</strong></td>
              </tr>
              {% for item in range(0, 2) -%}
              <tr>
                <td style="width: 208px;">
                  <strong>Значение</strong> <br>
                  Пояснение
                </td>
                <td>Текстовое значение столбца</td>
                <td style="width: 174px;">1900 руб.</td>
                <td>льготный</td>
              </tr>
              <tr>
                <td style="width: 208px;"><strong>Значение столбца</strong></td>
                <td>Вариант длинного значения столбца таблицы в несколько строк</td>
                <td style="width: 174px;">750 руб.</td>
                <td>студенческий</td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="textpage">

  <div class="textpage__wrapper">
    <div class="textpage__content">
      <div class="textpage__left">
        <h2 class="textpage__section-title">Поделиться</h2>
      </div>
      <div class="textpage__right">
        <div class="social-share">
          {% include "./_partials/_social-share-script.html" %}
          <div class="copylink">
            <button class="copylink__btn">
              Скопировать ссылку
            </button>
            <div class="copylink__text">Ссылка скопирована</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
