.breadcrumbs {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--base-black);

  @media ($tablet) {
    padding-top: 60px;
    padding-bottom: 15px;
    border-bottom-width: 3px;
  }
}

.breadcrumbs__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  text-transform: uppercase;
  color: #9b9b9b;

  &::after {
    content: "/";
    margin-right: 5px;
  }

  &:last-of-type {
    font-weight: 500;
    color: var(--base-black);

    &::after {
      content: "";
      display: none;
    }
  }

  @media ($tablet) {
    font-size: 18px;
    line-height: 23px;
  }
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;
}
