.museum__wrapper {
  @include wrapper;
  display: grid;
  row-gap: 20px;

  @media ($large) {
    @include grid;
  }
}

.museum__nav {
  display: flex;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 105%;
    text-transform: uppercase;
    color: var(--base-black);
    text-decoration: none;
  }

  @media ($large) {
    grid-column: 1 / span 5;

    a {
      font-weight: 500;
      font-size: 18px;
      line-height: 105%;

      svg {
        width: 14px;
        height: 16px;
      }
    }
  }
}

.museum__photo {
  position: relative;

  img {
    max-width: 100%;
    height: auto;
  }

  @media ($large) {
    grid-column: 1 / span 5;
  }
}

.museum__logo {
  position: absolute;
  top: 10px;
  left: 10px;

  @media ($large) {
    top: 20px;
    left: 20px;
  }
}

.museum__head-text {
  padding-bottom: 60px;

  h1 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 110%;
    /* or 24px */

    text-transform: uppercase;
  }

  p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 19px;
    line-height: 140%;
  }

  @media ($large) {
    grid-column: 6 / span 7;
    padding-bottom: 120px;

    h1 {
      margin-bottom: 25px;
      font-size: 54px;
      line-height: 120%;
    }

    p {
      margin-bottom: 25px;
      font-size: 25px;
    }
  }
}

.museum__head-links {
  @include list-reset;
  display: grid;
  row-gap: 20px;
}

.museum__head-item {
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--base-black);
    text-decoration: none;
  }

  @media ($large) {
    font-size: 26px;
    line-height: 160%;
  }
}
