.social {
  @include list-reset;

  display: flex;
  align-items: center;
  gap: 25px;
}

.social__item {
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: var(--base-white);
  border: 2px solid var(--base-black);
  color: var(--base-black);
  border-radius: 50%;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--base-black);
    color: var(--base-white);
  }

  @media ($tablet) {
    width: 60px;
    height: 60px;
  }
}
