*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // &::-webkit-scrollbar {
  //   width: 1px;
  // }

  // &::-webkit-scrollbar-track {
  //   background-color: #e4e4e4;
  //   border-radius: 100px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: #d4aa70;
  //   border-radius: 100px;
  // }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 14px 20px 13px;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--base-black);
  border-radius: 70px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: var(--base-white);
  border: none;
  cursor: pointer;

  @media ($tablet) {
    font-size: 22px;
    line-height: 29px;

    &:hover {
      background-color: #4c4c4c;
    }

    &:active,
    &:disabled {
      background-color: #bbbbbb;
    }
  }
}

.responsive-table {
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 1px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    border-radius: 10px;
  }
}

#iframe-map {
  height: 400px;

  iframe {
    width: 100% !important;
    height: 100%;
  }
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
