*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // &::-webkit-scrollbar {
  //   width: 1px;
  // }

  // &::-webkit-scrollbar-track {
  //   background-color: #e4e4e4;
  //   border-radius: 100px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: #d4aa70;
  //   border-radius: 100px;
  // }
}

#iframe-map {
  height: 400px;

  iframe {
    width: 100% !important;
    height: 100%;
  }
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
